.animated-svg {
  &.svg#freepik_stories-code-typing:not(.animated) .animable {
    opacity: 0;
  }

  &.svg#freepik_stories-code-typing.animated #freepik--Screen--inject-33 {
    animation: 1.5s Infinite linear floating;
    animation-delay: 0s;
  }
  @keyframes floating {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
