@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply w-screen h-screen;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .px-ios {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
